<!DOCTYPE html>
<html>
	<head>
	<title> Thank You! </title>
	<link href="/static/style.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	</head>

		<br><br>
	<p  style="text-align: center">
		Thank you for participating in this study!<br>
		Please make sure to click the button below to submit the study.
	</p>

	<div style="text-align: center">
		<form method="POST" action="https://app.prolific.co/submissions/complete?cc=XXXX">
		<input type="submit" value="Submit study" class="btn btn-default">
	</form>
</div>
</html>
