<!DOCTYPE html>
<html>
<head>
	<title>Consent Form</title>
	<link href="/static/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<br>
<p>Thank you for your interest in our research. Please read the following information carefully.</p>

<p>By answering the following questions, you are participating in a study being performed by cognitive scientists in
	the Stanford Department of Psychology. If you have questions about this research, please contact us at
	<a href="stanfordpsych251@gmail.com">stanfordpsych251@gmail.com</a>. You must be at least 18 years old to participate.
	Your participation in this research is voluntary. You may decline to answer any or all of the following questions.
	You may decline further participation, at any time, without adverse consequences. Your anonymity is assured;
	the researchers who have requested your participation will not receive any personal information about you.</p>
<center>
	<form method="POST">
		<input type="submit" value="I agree to participate" class="btn btn-default">
		<br>
	</form>
</center>
<br>
</body>
</html>