<!DOCTYPE html>
<html>
  <head>
    <title>Object Task</title>
    <script src="https://unpkg.com/jspsych@7.3.1"></script>
    <script src="https://unpkg.com/@jspsych/plugin-html-keyboard-response@1.0.0"></script>
    <script src="https://unpkg.com/@jspsych/plugin-image-keyboard-response@1.0.0"></script>
    <script src="https://unpkg.com/@jspsych/plugin-survey-multi-choice@1.0.0"></script>
    <script src="https://unpkg.com/@jspsych/plugin-fullscreen@1.0.0"></script>
    <script src="https://unpkg.com/@jspsych/plugin-preload@1.0.0"></script>
    <link href="https://unpkg.com/jspsych@7.3.1/css/jspsych.css" rel="stylesheet" type="text/css" />

    <script src="/static/encoding-plugin.js"></script>
    <script src="/static/numbers-plugin.js"></script>
    <script src="/static/retrieval-plugin.js"></script>
    <script>
      var encoding_trials = {{encoding_trials | tojson}};
      var retrieval_trials = {{retrieval_trials | tojson}};
      var imgs = {{imgs | tojson}};
    </script>
    <script src="/static/mem-experiment.js"></script>
  </head>


</html>